<h1>New Blog</h1>

<%= form_for(@blog) do |f| %>

	<p>TITLE</p>
	<%= f.text_field :title %>

	<p>BODY</p>
	<%= f.text_field :body %>

	<p>AUTHOR</p>
	<%= f.text_field :author %>

<%= f.submit "送信" %>
<% end %>